Repository CarlosSenra/BooksAPI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-local, pytest-local

.pre-commit-config.yaml:

repos:
 - repo: local
   hooks:
   - id: black-local
     name: Run Black Local
     entry: poetry run black
     language: system
     types: [python]
     exclude: ^notebooks/

   - id: pytest-local
     name: Run Pytest Local
     entry: poetry run pytest
     language: system
     types: [python]
     files: ^(tests_dev/|tests/)

add scrip csv_to_db
  src/app/shared/database/models/books.py
  src/scripts/book_csv_to_db/csv_to_db.py
Due: black-local

add Book db model
  src/app/shared/database/models/books.py
Due: black-local

update scrip csv_to_db
  src/app/shared/database/models/books.py
  src/scripts/book_csv_to_db/csv_to_db.py
Due: black-local

update scrap book and csv_to_db
  app.db
  src/data/raw/books/Books_books.csv
  src/data/raw/books/books.csv
  src/scripts/Data_scrap/BookScrap.py
  src/scripts/book_csv_to_db/csv_to_db.py
Due: black-local

add endpoints de buscar livros
  src/app/__init__.py
  src/app/main.py
  src/app/modules/books/__init__.py
  src/app/modules/books/books_controller.py
  src/app/modules/books/books_service.py
  src/app/modules/books/dto/books_dto.py
  src/app/shared/database/connection.py
Due: black-local

add categories endpoint
  src/app/__init__.py
  src/app/modules/categories/__init__.py
  src/app/modules/categories/categories_controller.py
  src/app/modules/categories/categories_service.py
  src/app/modules/categories/dto/dto_categories.py
Due: black-local

add some tests using mock
  tests/test_books_service.py
  tests/test_dummy.py
Due: black-local, pytest-local

update readme
  README.md
Due: none

refectoring project folders
  README.md
  src/app/modules/books/books_service.py
  src/app/modules/categories/categories_service.py
  src/app/modules/usuario/usuario_controller.py
  src/app/modules/usuario/usuario_service.py
  src/models/books.py
  src/models/usuario.py
  src/scripts/book_csv_to_db/csv_to_db.py
  src/shared/__init__.py
  src/shared/database/__init__.py
  src/shared/database/base.py
  src/shared/database/connection.py
  tests/test_books_service.py
Due: black-local, pytest-local

add health module
  src/__init__.py
  src/app/__init__.py
  src/app/modules/health/__init__.py
  src/app/modules/health/dto/health_dto.py
  src/app/modules/health/health_controller.py
  src/app/modules/health/health_service.py
Due: black-local

feat top-rated & price-range
  src/app/modules/books/books_controller.py
  src/app/modules/books/books_service.py
  src/app/modules/books/dto/books_dto.py
  src/app/modules/categories/categories_controller.py
  src/app/modules/health/health_controller.py
  src/app/modules/usuario/usuario_controller.py
  src/app/shared/config/config.py
Due: black-local
